@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  margin: auto;
  width: 80%;
}

.statusBox:empty::before {
  content: attr(placeholder);
}

#descrip a {
  color: blue;
}

#descrip a:hover {
  text-decoration: underline;
}