@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  margin: auto;
  width: 80%;
}

.statusBox:empty::before {
  content: attr(placeholder);
}

.commentBox:empty::before {
  content: attr(placeholder);
}

#descrip a {
  color: blue;
}

#descrip a:hover {
  text-decoration: underline;
}

.viewpost::-webkit-scrollbar {
  width: 10px;
}

.viewpost::-webkit-scrollbar-track {
  /* background-color: #e4e4e4; */
  border-radius: 6px;
  width: 10px;
}

.viewpost::-webkit-scrollbar-thumb {
  background-color: rgb(206, 208, 212);
  border-radius: 6px;
  width: 10px;
}